@charset "utf-8";

/*========= 背景動画設定のCSS ===============*/
#video-area{
    position: fixed;
    z-index: -1;/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}

#video {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}

.box-001 {
    position: relative;
    max-width: 30vw;
    margin-top: 9vh;
    margin-left: 5rem;
    padding: calc(1em + 25px) 1.5em 1em;
    border: 2px solid #d6d6d6;
    border-radius: 5px;
    overflow: auto;
    background-color: white;
    font-size: 1.5vw;
}

.box-001 svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #d6d6d6;
}

.start input[type="submit"]{
    cursor: pointer;
    border-radius: 10px;
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 50px;
    padding: 10px 10px 5px;
    box-sizing: border-box;
    font-size: 200%;
    background: #14a73b;
    border: none;
    color: #FFF;
    border-bottom: 5px solid rgba(0,0,0,0.3);
    transition: .3s;
}
.start input[type="submit"]:hover{
    background: #40c764;
}